#grid, #water, #holes, #kitchen_oil 
{
	font-family: monospace; 
	width: 60em; 
	font-size: 10px; 
	height: 14em; 
	resize: none; 
	background-color: #0000; 
	border: 1px solid grey; 
	padding: 2px; 
	position: absolute; 
	display: block;
}
#grid.fried 
{ 
    /*caret-color: #656721; */
	caret-color: #c6c632; 
	filter: saturate(75%);
} 
#water 
{ 
	color: #8393d2; 
} 
#kitchen_oil 
{ 
    /*color: #656721; */
	color: #cccc16d3; 
	filter: saturate(75%);
} 
#lives, #currency 
{ 
	border: 1px inset #000; 
	font-size: 13px; 
	padding: 0 5px; 
	font-family: arial;
	background: #8d9;
	width: max-content;
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 5px;
} 
#lives {
    margin-right: 0.3em;
}